

<!--<a href="{{ url_for('user', username=post.author.username) }}"></a> says: <br>{{ post.body }}-->

<div class="card">
  <div class="d-flex flex-row">
    <a href="{{ url_for('user', username=post.author.username) }}"><img src="{{post.author.avatar(100)}}" alt="" class="img-fluid rounded-circle" width="25" height="25"></a>
    <h2 class="card-title ml-2">{{ post.author.username }}</h2>
  </div>
  <p>
    {{ post.body }}
  </p>
  {% if post.author == current_user %}
    <div class="d-flex flex-row">
      <div class="ml-auto">
        <button class="btn btn-secondary">Edit</button>
        <button class="btn btn-danger"><a href="{{ url_for('delete_post', id=post.id) }}" style="text-transform:none">Delete</a></button>
      </div>
    </div>
  {% endif %}
</div>
