<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Microblog</title>
        {% endif %}


        {% block style %}
            <link rel="stylesheet" href="/static/halfmoon/css/halfmoon.css">
            <link rel="stylesheet" href="/static/fa/css/font-awesome.css">
        {% endblock %}
    {% endblock %}

</head>
<body>
    <div class="page-wrapper with-navbar">
        <nav class="navbar">
            <div class="navbar-content">
                <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
                <ul class="navbar-nav d-none d-md-flex">
                    {% if current_user.is_anonymous %}
                        <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">Login</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{{ url_for('explore') }}" class="nav-link">Explore</a></li>
                        <li class="nav-item"><a href="{{ url_for('user', username=current_user.username) }}" class="nav-link">Profile</a></li>
                        <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
                    {% endif %}

                </ul>
            </div>
            <div class="navbar-content ml-auto">
                <li class="nav-item"><button class="btn btn-primary" type="button" onclick="halfmoon.toggleDarkMode()"><i class="fa fa-moon-o" aria-hidden="true"></i></button></li>
            </div>
        </nav>

         <div class="content-wrapper">
            {% block contents %}
                <h3>Hi: {{ current_user.username }}</h3>
            {% endblock %}
         </div>
    </div>



    {% block js %}
        <script src="/static/halfmoon/js/halfmoon.js"></script>
    {% endblock %}
</body>
</html>
