{% extends "base.html" %}
{% block contents%}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}


    <!-- Post form area -->
    {% if form %}
        <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}
            {{ form.post(cols=32, rows=4) }}
            {% for error in form.post.errors%}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    {% endif %}

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

{% endblock %}