{% extends "base.html" %}
{% block contents %}

    <div class="container">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                      <div class="content">
                          {% for category, message in messages %}
                              <div class="alert alert-{{category}}">
                                {{ message }}
                              </div>
                          {% endfor %}
                      </div>
                {% endif %}
            {% endwith %}
            <div class="card">
                <h2 class="card-title">About: {{ user.username }}</h2>
                {% if user.about_me %}
                  <p>{{ user.about_me }}</p>
                {% endif %}

                {% if user.last_seen %}
                    <p>Last seen on: {{ user.last_seen }}</p>
                {% endif %}
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
                      {% if user == current_user %}
                          <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                      {% elif not current_user.is_following(user) %}
                          <form action="{{ url_for('follow', username=user.username) }}" method="post">
                              {{ form.hidden_tag() }}
                              {{ form.submit(value='Follow', class_='btn btn-success') }}
                          </form>
                      {% else %}
                      <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                          {{ form.hidden_tag() }}
                          {{ form.submit(value='Unfollow', class_='btn btn-danger') }}
                      </form>
                      {% endif %}
            </div>

                <div class="content">
                    {% for post in posts %}
                        {% include '_post.html' %}
                    {% endfor %}
                </div>
                <div class="row">
               
                  <div class="ml-auto  mr-auto">
                      {% if next_url %}
                          <a href="{{ next_url }}">Next >> </a>
                      {% endif %}
                      {% if prev_url %}
                          <a href="{{ prev_url }}"><< Prev</a>
                      {% endif %}
                  </div>
                
                </div>
          </div>
          <div class="col-md-3"></div>
      </div>
    </div>
{% endblock %}
